.container {
  z-index: 999;
  position: sticky;
  top: 0px;
}

.header {
  position: relative;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px;

  /* 개발 과정중 헤더 포지션 알기 위해 border 임시 적용 */
  /* border: 1px solid red; */
}

.title {
  font-weight: bolder;
  font-size: larger;
}

.first_word {
  margin-right: 5px;
}

.second_word {
  color: green;
}

.hamburger_img {
  width: 30px;
  height: 30px;
}

.close_img {
  padding-right: 4px;
  width: 20px;
  height: 20px;
}
.sidbar {
  position: absolute;
  right: 0;
  background-color: white;
}
