.sidebar {
  z-index: 999;
  display: flex;
  flex-direction: column;
  list-style: none;
}

@media (min-width: 500px) {
  .sidebar {
    width: 18rem;
  }
}

@media (max-width: 500px) {
  .sidebar {
    width: 13.5rem;
  }
}
