.sidebar {
  z-index: 999;
  display: flex;
  flex-direction: column;
  list-style: none;
}

@media (min-width: 500px) {
  .sidebar {
    width: 24rem;
  }
}

@media (max-width: 500px) {
  .sidebar {
    width: 18rem;
  }
}

.to_home img {
  width: 30px;
  height: 30px;
}
