.temp {
  display: block;
  position: relative;
  z-index: 901;
  order: 0;
}

.card_sidebar {
  z-index: 899;
  display: flex;
  flex-direction: column;
  list-style: none;
  position: absolute;
}
@media (min-width: 500px) {
  .card_sidebar {
    width: 14rem;
  }
}

@media (max-width: 500px) {
  .card_sidebar {
    width: 10rem;
  }
}
