/* AdminBoard.module.css */

/* Container styles */
.admin_board_container {
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow-x: auto; /* Enable horizontal scrolling */
}

.admin_reservation {
  display: flex;
  justify-content: space-between;
}

.reservation {
  height: 260px;
  margin-bottom: 5px;
  padding: 5px;
  overflow: auto;
  border: 1px solid gray;
}

.reservation_button {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.post_button {
  margin: 20px 0 10px 0;
  display: flex;
  justify-content: space-between;
}

.post_button_element {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.reservation_button_element {
  margin: 0 0 10px 10px;
}

.reservation_time {
  text-align: right;
}

/* Table styles */
.admin_board_table {
  width: 100%;
  border-collapse: collapse;
  overflow-y: auto; /* Enable vertical scrolling within the fixed height */
}

.admin_board_table th,
.admin_board_table td {
  padding: 10px;
  border: 1px solid #ccc;
  white-space: nowrap; /* Prevent text wrapping */
  text-overflow: ellipsis; /* Display ... for long text */
  overflow: hidden; /* Hide overflowing content */
}

.admin_board_table td a:link {
  color: blue;
}

.admin_board_table td a:visited {
  color: purple;
}