.admin_board_detail_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow-x: auto; /* Enable horizontal scrolling */
  padding-top: 5%;
}

/* Table styles */
.admin_board_detail_table {
  /* display: flex; */
  width: 80%;
  border-collapse: collapse;
  overflow-y: auto; /* Enable vertical scrolling within the fixed height */
  margin-bottom: 5%;
}

.admin_board_detail_table th {
  color: rgb(57, 57, 57);
  background-color: rgb(255, 249, 171);
}

.admin_board_detail_table th,
.admin_board_detail_table td {
  padding: 10px;
  border: 1px solid #ccc;
  white-space: nowrap; /* Prevent text wrapping */
  text-overflow: ellipsis; /* Display ... for long text */
  overflow: hidden; /* Hide overflowing content */
}

.admin_btn_area {
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 1%;
}

.admin_comment_delete_btn {
  font-size: large;
  width: 80px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #37a150;
  background-color: white;
  color: rgb(252, 118, 95);
}

.admin_comment_delete_btn:hover {
  color: red;
}
