.admin_main_container {
  max-width: 80%;
  height: 100vh;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid black;
}

@media (max-width: 1250px) {
  .admin_main_container {
    font-size: 0.7rem;
  }
}

.today_section {
  display: flex;
  padding: 1rem;
  border: 1px solid black;
}

.today_chart {
  width: 30%;
  margin: auto;
  font-weight: bold;
}

.balance_game {
  width: 70%;
  padding-left: 1rem;
  margin: auto;
}

.text_section {
  display: flex;
  margin: 10px;
}

.balance_game_text {
  width: 20%;
  text-align: left;
  font-weight: bold;
  padding: 0.2rem;
}

.question {
  width: 80%;
  text-align: left;
  border: solid 3px rgb(179, 179, 179);
  border-radius: 5px;
  padding: 0.2rem 1rem;
}

.leftAnswer {
  width: 80%;
  text-align: left;
  border: solid 3px #fea3c2;
  border-radius: 5px;
  padding: 0.2rem 1rem;
}

.rightAnswer {
  width: 80%;
  text-align: left;
  border: solid 3px #00dacc;
  border-radius: 5px;
  padding: 0.2rem 1rem;
}

.chart_section {
  display: flex;
  justify-content: center;
  height: 60vh;
}

.chart {
  width: 55%;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid black;
}

.chart_title {
  padding: 0.5rem;
  text-align: left;
  font-size: 1rem;
  font-weight: bold;
}

.chart_image {
  height: 90%;
}

.chart_detail {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  border: 1px solid black;
}

.chart_table {
  width: 95%;
  height: 100%;
  margin: auto;
  border-collapse: collapse;
}

.chart_table thead th, td {
  padding: 20px 10px;
}

.chart_table tbody th, td {
  padding: 0px 10px;
  border-top: 1px solid #444444;
}