.slider {
  /* padding-bottom: 2rem; */
  margin-bottom: -1rem;
}

.slider_item {
  padding-top: 5%;
  text-align: center;
}

.slider_item_img {
  margin: 0 auto;
  width: 90%;
  background-size: cover;
  border-radius: 2rem;
  margin-bottom: 7.5%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

.slider_item_img1 {
  background-image: url("../../assets/slide1.jpg");
}

.slider_item_img2 {
  background-image: url("../../assets/slide2.jpg");
}

.slider_item_img3 {
  background-image: url("../../assets/slide3.jpg");
}

.slider_item_img4 {
  background-image: url("../../assets/slide4.jpg");
}

.slider_item_img5 {
  background-image: url("../../assets/slide5.jpg");
}

.text_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider_item_title {
  width: 90%;
  height: 55%;
  margin: auto;
  font-weight: bolder;
  word-wrap: break-word;
  word-break: keep-all;
}

.slider_item_subtitle {
  width: 90%;
  height: 45%;
  margin: auto;
  word-wrap: break-word;
  word-break: keep-all;
}

@media (min-width: 500px) {
  .slider_item_img {
    height: 500px;
  }

  .text_section {
    height: 180px;
  }

  .slider_item_title {
    font-size: 2rem;
    margin-bottom: 3%;
  }

  .slider_item_subtitle {
    font-size: 1.2rem;
    margin-bottom: 4%;
  }

  .slider_comment_title {
    line-height: 1rem;
    font-size: 2rem;
  }
}

@media (max-width: 500px) {
  .slider_item_img {
    height: 300px;
  }

  .text_section {
    height: 150px;
  }

  .slider_item_title {
    font-size: 1.5rem;
    margin-bottom: 4%;
  }

  .slider_item_subtitle {
    font-size: 1.1rem;
    margin-bottom: 3%;
  }

  .slider_comment_title {
    font-size: 1.4rem;
    line-height: 0.4rem;
  }
}