.closing_container {
  margin-top: 40%;
}

.closing_img {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/closing.jpg");
  background-size: cover;
  margin: 0 auto;
  width: 100%;
  height: 600px;
  color: white;
}
.closing_comment {
  z-index: 799;
  font-weight: bold;
  letter-spacing: 2px;
}

@media (min-width: 500px) {
  .closing_comment {
    font-size: 2rem;
    line-height: 3rem;
  }
}

@media (max-width: 500px) {
  .closing_comment {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
.overlay {
  position: absolute;
  width: 100%;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.4); /* 오버레이 배경 색상과 투명도 조정 */
}
